@model List<WenKaiTsai.HotelManagementSystem.ApplicationCore.Models.CustomerDetailsResponseModel>
@using WenKaiTsai.HotelManagementSystem.ApplicationCore.ServiceInterfaces
@inject ICurrentAdmin currentAdmin

@{
    ViewData["Title"] = "Hotel Management System";
}


<div class="container mt-3" id="accordion">

    <h3 class="text-muted border-bottom">Dashboard</h3>
    @if (currentAdmin.IsAuthenticated)
    {
        <a class="btn btn-info my-2" style="font-size: .8rem" asp-controller="Reservation" asp-action="NewReservation">+ New Reservation</a>
    }
    else
    {
<div class="d-flex align-items-end">
    <a class="btn btn-info my-2 disabled" style="font-size: .8rem">+ New Reservation</a>
    <p class="text-danger m-2" style="font-size: .7rem"> <i class="fa fa-long-arrow-left" aria-hidden="true"></i> Log in to unlock this function</p>
    <p class="text-danger m-2" style="font-size: .7rem"> <i class="fa fa-arrow-down" aria-hidden="true"></i> Log in to start cancelling the reservations.</p>
</div>
    }
    @foreach (var item in Model.Select((value, i) => new { value, i }))
    {
        var customer = item.value;
        var index = item.i;
        string heading = $"heading{@index.ToString()}";
        string collapse = $"collapse{@index.ToString()}";
        <div class="card mb-2">
            <div class="card-header p-0" id=@heading>
                <button class="btn w-100 h-100 p-0" data-toggle="collapse" data-target=#@collapse aria-expanded="true" aria-controls=@collapse>
                    <div class="row container p-3 m-0">
                        <div class="col-2 text-left border-right  ">@customer.Name</div>
                        <div class="col-2 text-left border-right border-secondary">(@customer.TotalPerson ppl.)</div>
                        <div class="col-3 text-right border-right ">Room #@customer.RoomNumber </div>
                        <div class="col-4 text-left border-right border-secondary ">(@customer.RoomType)</div>
                        @if (currentAdmin.IsAuthenticated)
                        {
                            <a class="col-1 text-right" asp-controller="Customer" asp-action="RemoveCustomer" asp-route-id="@customer.Id"><i class="fa fa-trash text-danger"></i></a>
                        }
                        else
                        {
                            <a class="col-1 text-right disabled"><i class="fa fa-trash text-secondary"></i></a>
                        }
                    </div>
                </button>
            </div>

            <div id=@collapse class="collapse" aria-labelledby=@heading data-parent="#accordion">
                <div class="card-body">
                    <div class="row container p-0 m-0">
                        <div class="col-8 container">
                            <h5 class="text-muted font-weight-bold border-bottom">Customer Details</h5>
                            <div class="row text-muted text-left" style="font-size: .8rem">
                                <div class="col border-light">
                                    <div class="row ">
                                        <p class="col-4 font-weight-bold">
                                            <i class=" fa fa-address-card p-0 "></i> Address:
                                        </p>
                                        <p class="col">@customer.Address</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4  font-weight-bold">
                                            <i class="fa fa-envelope p-0"></i> Email:
                                        </p>
                                        <p class="col">@customer.Email</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4 font-weight-bold">
                                            <i class="fa fa-phone p-0"></i> Phone:
                                        </p>
                                        <p class="col">@customer.PhoneNumber</p>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="row">
                                        <p class="col-4 font-weight-bold">
                                            <i class="fa fa-clock-o p-0"></i> Chech-in:
                                        </p>
                                        <p class="col">@customer.CheckInDate.ToString()</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4  font-weight-bold">
                                            <i class="fa fa-calendar p-0"></i> Duration:
                                        </p>
                                        <p class="col">@customer.BookingDays day(s)</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-4  font-weight-bold">
                                            <i class="fa fa-credit-card p-0"></i> Advance:
                                        </p>
                                        <p class="col">@String.Format("${0:0,0.0}", customer.Advance)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col container container-fluid ">
                            <h5 class="text-muted font-weight-bold border-bottom">Room Services</h5>
                            <div class="d-flex flex-wrap" style="font-size: .8rem">
                                @foreach (var service in customer.RoomServices)
                                {
                                    if (service.Amount != 0)
                                    {
                                        <span class="badge-pill badge-info m-1">$ @service.ServiceName</span>
                                    }
                                    else
                                    {
                                        <span class="badge-pill badge-light m-1">+ @service.ServiceName</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

</div>
